
	@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
	
	* {
	cursor: url(https://files.catbox.moe/21q3yh.cur), auto !important;
	}

	body {
	background: black;
	color: limegreen;
	text-shadow: 2px 2px 5px limegreen, -2px -2px 5px limegreen;
	margin: 50px auto;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Courier New', 'Courier', monospace;
	}

	::selection {
	background: limegreen;
	color: black;
	padding: 5px;
	}

	a {
	color: limegreen;
	text-shadow: 0px 0px 10px limegreen;
	}

	a:hover {
	text-decoration: none;
	}

	.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted limegreen; /* If you want dots under the hoverable text */
	}

	.tooltip .tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: black;
	color: limegreen;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	border: 1px dotted limegreen;
	position: absolute;
	top: 150%;
	left: 50%;
	margin-left: -50px;
	z-index: 9999;
	}

	.tooltip:hover .tooltiptext {
	visibility: visible;
	cursor: select;
	}

	input[type=text] {
	background: none;
	border: 1px dotted limegreen;
	margin: 5px;
	margin-bottom: 15px;
	padding: 5px;
	width: 200px;
	font-family: 'Courier New', 'Courier', monospace;
	color: limegreen;
	}

	input[type=password] {
	background: none;
	border: 1px dotted limegreen;
	margin: 5px;
	margin-bottom: 15px;
	padding: 5px;
	width: 200px;
	font-family: 'Courier New', 'Courier', monospace;
	color: limegreen;
	}

	h1 {
        margin: 0px;
    }

		/* width */
	::-webkit-scrollbar {
		width: 10px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
		background: rgba(50, 205, 50, 0.459);
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: black;
		border: 1px solid limegreen;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: limegreen;
	}

    details > summary {
    list-style-type: '> ';
    }

    details[open] > summary {
        list-style-type: 'V ';
    }